
.body-div{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px 30px;
}

.left-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calculation{
    border: 3px solid blue;
    border-radius: 5px;
    padding: 0 10px;
    width: 82%;
    margin: auto;
}

.calculation p{
    font-weight: 600;
}

#grand{
    color: crimson;
    font-weight: 700;
    font-size: 18px;
}